/* Ultimate Progress Bar Styles */
.progress-bar-container {
  width: 100%;
  background-color: rgb(229 231 235);
  border-radius: 9999px;
  height: 0.5rem;
}

.progress-bar-fill {
  background: linear-gradient(to right, rgb(59 130 246), rgb(147 51 234));
  height: 0.5rem;
  border-radius: 9999px;
  transition: all 300ms;
}

.progress-bar-fill-small {
  background: linear-gradient(to right, rgb(59 130 246), rgb(147 51 234));
  height: 0.75rem;
  border-radius: 9999px;
}

.progress-bar-fill-large {
  background: linear-gradient(to right, rgb(59 130 246), rgb(147 51 234));
  height: 0.75rem;
  border-radius: 9999px;
  transition: all 300ms;
}

/* Progress bar width classes */
.progress-0 { width: 0%; }
.progress-5 { width: 5%; }
.progress-10 { width: 10%; }
.progress-15 { width: 15%; }
.progress-20 { width: 20%; }
.progress-25 { width: 25%; }
.progress-30 { width: 30%; }
.progress-35 { width: 35%; }
.progress-40 { width: 40%; }
.progress-45 { width: 45%; }
.progress-50 { width: 50%; }
.progress-55 { width: 55%; }
.progress-60 { width: 60%; }
.progress-65 { width: 65%; }
.progress-70 { width: 70%; }
.progress-75 { width: 75%; }
.progress-80 { width: 80%; }
.progress-85 { width: 85%; }
.progress-90 { width: 90%; }
.progress-95 { width: 95%; }
.progress-100 { width: 100%; }
